* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 20px;
  color: #fff;
}

h1 {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 4rem;
}

p {
  margin: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
}


#home {
  background: #fff;
}

#about {
  background: #fff;
}

#project {
  background: #fff;
}

#contact {
  background: #fff;
}

#myForm {
  max-width: 400px;
  margin: 0 auto;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type='text']:focus,
input[type='number']:focus {
  border-color: #007bff;
  outline: none;
}

/* button {
  background-color: #007bff;
  color: #000;
  cursor: pointer;
} */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
