 @use '../../../styles/mixin' as mixin;

 .loaded {
   opacity: 0;
   transition: opacity 1s ease;

   &.loaded {
     opacity: 1;
   }
 }

 .carousel-container {
   display: flex;
   flex-direction: column;
 }

 /*  img {
   height: auto;
   max-height: 550px;
   vertical-align: middle;
   background-repeat: no-repeat;
   background-size: cover;
   shape-margin: .75rem;
 } */

 .buttonContainer {
  display: flex;
  align-content: center;
  flex-direction: row;
  margin-top: 15px;

  button {
    position: relative;
    left: 47%;
    top: 600px;
    max-width: 40px;
    color: black;
    background-color: gray;
    padding: 8px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #010101 !important; 
      color: wheat !important; 
    }
  }
}
