 @use '../../../styles/mixin' as mixin;

.loaded {
  opacity: 0;
  transition: opacity 1s ease;

  &.loaded {
    opacity: 1;
  }

  @include mixin.sm {
    max-width: 350px;
    padding-inline-start: 3px;
  }
}

.carousel-container{
 
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: .75rem;
}

.buttonContainer {
  display: flex;
  align-content: center;
  flex-direction: row;
  margin-top: 15px;

  button {
    color: white;
    background-color: #eb118a;
    padding: 8px;
    margin: 0 5px;
  }
}