@use "../../../styles/mixin" as mixin;

.banner {
  height: 80vh;
  display: flex;
  flex-direction: column;

  @include mixin.sm {
    display: none;
    flex-direction: column;
    padding-left: 2px;
    padding-top: 40px;
    
  }

  >div {
    display: flex;
    padding-right: 2rem;
  }
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 10px;
  padding-block-start: 750px;

  @include mixin.sm {
    padding-left: 10px;
  }
}
.divider {
  display: block;
  width: 100%;
  height: 1px; /* Altura de la línea */
  margin: 10px 0 !important; /* Margen superior e inferior */
  background: linear-gradient(to right, transparent, rgb(173, 173, 173), transparent); /* Linear gradient para difuminar los bordes */
  padding: 0;
  border: none; /* Eliminamos el borde para evitar superposición con el gradiente */
}

